<footer class="site-footer">
    <div class="container">

        <div class="row mb-5">
            <p class="col-12 text-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true" ></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    <a href="#" class="social-item"><span class="icon-facebook2"></span></a>
                    <a href="#" class="social-item"><span class="icon-twitter"></span></a>
                    <a href="#" class="social-item"><span class="icon-instagram2"></span></a>
                    <a href="#" class="social-item"><span class="icon-linkedin2"></span></a>
                    <a href="#" class="social-item"><span class="icon-vimeo"></span></a>
                </p>
            </div>
        </div>

    </div>
</footer>


{#<footer>#}
{#    <div class="footer">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-6 text-center">#}
{#                    <a class="logo_footer" href="{{ path('app_home') }}">#}
{#                        <img style="width: 11rem; border-radius: 10%;" src="#" alt="logo développeur web php symfony mehdi birembaut">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-3 text-center">#}
{#                    <div class="Informa helpful">#}
{#                        <h3>Naviguation</h3>#}
{#                        <ul>#}
{#                            <li><a href="#we_do">Ce que je fais</a></li>#}
{#                            <li><a href="#portfolio">Mes travaux</a></li>#}
{#                            <li><a href="#contact">Contactez-moi</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="copyright text_align_left">#}
{#            <div class="container">#}
{#                <div class="row d_flex">#}
{#                    <div class="col-md-6">#}
{#                        <p>© 2023 All Rights Reserved.  <a href="https://html.design/"> Free Html Template</a></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}